@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  line-height: 1.3;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1366px;
}

h1,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.5rem;
}
p {
  margin-bottom: 0.7rem;
}
header {
  padding: 3rem 0;
}

header h1 {
  color: hsl(179, 62%, 43%);
  font-size: 2.5rem;
}
header h2 {
  color: hsl(71, 73%, 54%);
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}
.pricing {
  font-size: 4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.pricing span {
  font-size: 1.3rem;
  padding-left: 1rem;
  font-weight: 400;
}

.col-1 {
  background: rgb(76, 173, 149);
}
.col-2 {
  background: hsl(179, 62%, 43%);
}
.col-1,
.col-2 {
  padding: 1.8rem;
}

.btn {
  background: hsl(71, 73%, 54%);
  color: #fff;
  padding: 1.2rem 2rem;
  border-radius: 10px;
  margin-top: 2rem;
  display: block;
  width: 100%;
  text-align: center;
}

.footer-content {
  color: #fff;
}

@media (min-width: 768px) {
  body {
    line-height: 2rem;
  }
  header {
    padding: 4rem 0;
  }
  header,
  footer {
    height: 50vh;
  }
  header h1 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .col-1,
  .col-2 {
    padding: 3rem 4.5rem;
    flex: 1;
  }
  header h2 {
    padding-bottom: 1.5rem;
    font-size: 2rem;
  }
  li {
    margin-bottom: 1rem;
  }
  header p,
  li,
  p {
    font-size: 1.2rem;
  }
  .btn {
    margin-top: 4rem;
    text-align: center;
  }

  .footer-content {
    display: flex;
    width: 100%;
  }
}
